body{
    background-color: rgb(32, 1, 32);
}
.container{
 display: flex;
 justify-content: center;
 margin-top: 10%;
}
.calculator{
    padding: 20px;
    width: 300px;
    background-color: rgb(52, 55, 83);
    border-radius: 20px;
    box-shadow: 0 0 20px 10px black;
}
button{
    height: 60px;
    width: 60px;
    padding: 15px;
    margin: 5px;
    font-size: 150%;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: rgb(41, 41, 88);
    border: none;
    box-shadow: 0 5px 5px black;
}
button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: none;
}
input[type=text]{
    padding: 20px;
    width: 80%;
    margin: 10px;
    font-size: 250%;
    text-align: right;
    font-weight: bolder;
    border-radius: 20px;
    cursor:auto;
    border: black solid 1px;
}
input::placeholder{
    text-align: center;
}
#equal{
    width: 45%;
}
#clear{
    width: 45%;
}
#dot{
    width: 45%;
}